/* 
    Created on : 18.03.2014, 16:50:37
    Author     : Justus
*/

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-color: #f0f9ff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
}
body:after
{
    content: url(buttonbgh.png);
    display: none;
}
#wip {
    background-color: #fee;
    border: 2px solid #c00;
    padding: 10px;
    margin: 20px;
}
#selmsg {
    color: #4f4;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
#blockout {
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.90);
    width: 100%;
    height: 100%;
    z-index: 10;
}
div#overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    /*left: -120%;*/
    left: 0;
    width: 100%;
    height: 100%;
    /*transition: left 0.4s;*/
    -webkit-transition: 0s 0.2s visibility, 0s 0.2s opacity, 0s 0.2s z-index;
    transition: 0s 0.2s visibility, 0s 0.2s opacity, 0s 0.2s z-index;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
}
div#overlay.active {
    -webkit-transition: none;
    transition: none;
    visibility: visible;
    opacity: 1;
    z-index: 5;
}
div#fade {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    height: 100%;
    width: 100%;
}
#overlaytext {
    position: relative;
    margin-left: 100px;
    margin-top: 90px;
    z-index: 25;
    color: #eef;
    font-size: 18px;
}
#overlaytext h3 {
    margin-left: 20px;
}
#overlaytext p {
    margin-left: 40px;
}
#overlaytext #potforms {
    margin-left: 50px;
    font-size: 16px;
    list-style-type: square;
}
#overlaytext #potforms li {
    margin-bottom: 2px;
}
.richtig {
    color: #090;
}
.falsch {
    color: #900;
}

label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type=radio] + label:before, input[type=checkbox] + label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 3px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=radio] + label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    color: #ddf;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label:before {  
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    font-weight: bold;
    color: #ddf;
    text-align: center;
    line-height: 15px;
}
div#menu input[type=checkbox] + label:before {
    background-color: #eef;
}
div#menu input[type=checkbox] + label:before {
    color: #556;
}

#nav {
    margin: 0;
    padding: 5px;
    padding-left: 100px;
    background-color: #014;
    background-image: url(background.png);
    background-repeat: repeat-x;
    background: -webkit-linear-gradient(270deg, #646e8d, #3c4665);
    background: linear-gradient(180deg, #646e8d, #3c4665);
    height: 50px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #014;
    z-index: 30;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

#icon {
    float:left;
    border: none;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.4);
}
#fileform {
    vertical-align: top;
    margin: 5px;
}

#latvoklink {
    color: #eef;
    text-decoration: none;
}
#heading {
    font-size: 35px;
    line-height: 37px;
    font-weight: bold;
    display: inline;
    color: #eef;
    margin-left: 15px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}
#version {
    font-size: 11px;
    font-weight: normal;
    color: #eef;
    margin-left: 20px;
    vertical-align: top;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
#anleitung {
    color: white;
    position: absolute;
    right: 225px;
    top: 10px;
    text-align: right;
}
#anleitung a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: padding-right 0.5s;
    transition: padding-right 0.5s;
}
#anleitung a:hover {
    padding-right: 5px;
}
#pageconfig {
    position: absolute;
    right: 150px;
    top: 5px;
    z-index: 30;
}
#logo {
    background-image: url(cog.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-block;
}
#logo:hover {
    background: -webkit-radial-gradient(40% 40%, closest-side, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),
                url(cog.png);
    background: radial-gradient(closest-side at 40% 40%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),
                url(cog.png);
    background-size: 50px 50px;
    background-position: top left;
    background-repeat: no-repeat;
}
#logodisabled {
    background-image: url(cog_disabled.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
}
div#menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: 300px;
    color: white;
    font-weight: bold;
    background-color: #014;
    background-image: url(background_large.png);
    background-repeat: repeat-x;
    background: -webkit-radial-gradient(30% 40%, farthest-corner, #505A76, #363E56);
    background: radial-gradient(farthest-corner at 30% 40%, #505A76, #363E56);
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 5px;
    border: 1px solid #012;
    border-radius: 7px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}
div#menu h2 {
    color: #eef;
    font-size: 30px;
    margin: 0;
    margin-left: -15px;
    padding: 3px 8px;
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(270deg, #444C65, #363E56 90%);
    background: linear-gradient(180deg, #444C65, #363E56 90%);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #012;
}
div#menu .info {
    position: relative;
    width: 300px;
}
div#menu label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
}
div#menu .infobox {
    font-size: 10px;
    position: absolute;
    top: -7px;
    left: 30px;
    visibility: hidden;
}
div#menu #confirm {
    float: right;
    width: 20px;
    padding: 0;
    margin: 1px;
    border-radius: 4px;
    border: 2px solid #cce;
    background-color: #eef;
    color: #090;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
div#menu #confirm:hover {
    margin: 0;
    padding: 1px;
}
div#menu #config {
    margin: 10px;
}
div#upload #file {
    margin-left: 10px;
    width: 280px;
    color: white;
    font-weight: normal;
}
div#upload {
    margin-bottom: 10px;
}
div#menu #selectedfiles {
    margin: 10px;
    margin-top: 5px;
    width: 245px;
    background-color: #eef;
    border: 1px solid #cce;
}
div#menu #selectcontainer {
    margin-bottom: 0;
}
#filefeed {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}

#content {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    padding-top: 60px;
}

#content p {
    margin-left: 20px;
}

#interface {
    margin: 10px;
    margin-bottom: 15px;
    padding: 0;
    border: none;
}
#interface td {
    padding: 5px;
}
#aufgabe {
    margin: 5px;
}
.form {
    display: none;
}
fieldset.group {
    border: 2px solid #014;
    border-radius: 7px;
    height: 200px;
    padding: 10px;
    padding-top: 5px;
    padding-right: 15px;
    margin: 0;
    vertical-align: middle;
    background-color: #fff;
}
fieldset.group label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 16px;
}
fieldset.group input[type=radio] {
    display: none;
}

.check {
    border: 2px solid #014;
    background-color: #eef;
}
#trans {
    line-height: 1.5em;
    font-style: italic;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;
}
#trans label {
    /*margin-bottom: 2px;
    padding-right: 4px;
    border-radius: 4px;
    border-right: 2px solid #014;
    background: linear-gradient(to left, #e5e5ee, rgba(255, 255, 255, 0) 20%);
    background: -webkit-linear-gradient(left, #e5e5ee, rgba(255, 255, 255, 0) 20%);
    /*background: linear-gradient(to left, #e5e5ee, rgba(255, 255, 255, 0));*/
    /*background: linear-gradient(to left, #e5e5ee, rgba(255, 255, 255, 0) 50px);*/
}
#trans legend {
    line-height: normal;
    font-style: normal;
}
#tempus {
    width: 150px;
}
.group legend {
    font-weight: bold;
    padding-top: 3px;
}
fieldset.small {
    height: 80px;
    min-width: 100px;
}
.bot {
    vertical-align: bottom;
}
.top {
    vertical-align: top;
}
#confirmbut {
    position: relative;
    width: 140px;
    height: 32px;
    color: white;
    background-color: #014;
    background-image: url(buttonbg.png);
    background: -webkit-radial-gradient(30% 40%, farthest-corner, #7c89af, #3c4665);
    background: radial-gradient(farthest-corner at 30% 40%, #7c89af, #3c4665);
    background-repeat: no-repeat;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid #014;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    position: absolute;
}
/*#confirmbut:hover {
    background: radial-gradient(farthest-corner at 30% 40%, #9caace, #3c4665);
}*/
#confirmbut #shiny {
    background: rgba(255, 255, 255, 0.1);
    display: none;
    position: absolute;
    width: 142px;
    height: 34px;
    padding: 5px;
    border-radius: 7px;
    top: -1px;
    left: -1px;
    z-index: 50;
}
#confirmbut:hover #shiny {
    display: block;
}

.beispielzeile {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    border-collapse: collapse;
    margin-left: 40px;
}
.beispielzeile td {
    border: 2px solid #014;
    margin: 0;
    padding: 5px;
    min-width: 100px;
}
.flaglist {
    list-style-image: url(arrow.png);
    margin-left: 40px;
}

/* testmodus */

.container {
    -webkit-transition: height 1s;
    transition: height 1s;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    border: 1px solid red;
}

.area {
    border: 1px solid #00c;
    margin: 2px;
    padding: 10px;
}

#preconfigcontainer {
    height: 400px;
}
#testcontainer {
    height: 0px;
}
#resultcontainer {
    height: 0px;
}
.anzeige {
    width: 50px;
    margin-left: 10px;
    padding: 3px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border: none;
    border-radius: 5px;
    color: #ddf;
}
.slider {
    width: 150px;
    margin: 5px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 3px;
    color: #ddf;
    vertical-align: middle;
}
#preconfigarea #confirm {
    width: 15px;
    text-align: center;
    margin: 5px;
    margin-left: 0;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 5px;
    color: #ddf;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}
#preconfigarea #confirm:hover {
    color: #9da;
    background-color: #788;
}
#preconfigarea #file {
    width: 50px;
    margin: 5px;
    margin-right: 0;
    padding: 2px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border: none;
    border-radius: 5px;
    color: #ddf;
}
#preconfigarea #formenlink {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}
#preconfigarea #unterkategorie {
    margin: 0;
    background-color: #f7f7ff;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-top: 30px;
}
#preconfigarea #unterkategoriecontainer {
    height: 120px;
    margin: 0;
    padding: 0;
    -webkit-transition: height 0.7s;
    transition: height 0.7s;
    overflow: hidden;
}
#preconfigarea #selectedfiles {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    width: 300px;
    background-color: #778;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border: 1px solid #445;
    border-radius: 5px;
    color: #ddf;
}
#preconfigarea #file {
    margin-top: 5px;
}
h2.subheading {
    margin: 10px;
    padding: 0 2px;
    border-bottom: 2px dashed #026;
    display: inline-block;
}